<template>
  <div class="flex flex-1 flex-col">
    <h1>{{ user.name }}</h1>
    <h3>Recipies</h3>
    <div class="flex">
      <div class="flex" v-for="recipe in recipes" :key="recipe.id">
        {{ recipe.name }}
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
   async asyncData({ store, route }) {
    const user = await store.dispatch('getUser', route.params.id);
    const recipes = await store.dispatch('getUserRecipies', route.params.id)
    return { user, recipes }
  },
  data() {
    return {
      user: {},
      recipes: [],
    }
  },
})
</script>
