<template>
  <div class="flex flex-col">
    <h1 class="text-2xl font-semibold">Bienvenue sur "Recette sans style"</h1>

    <nuxt-link to="/recipes"><p class="text-lg">Les recettes</p></nuxt-link>
    <nuxt-link to="/recipes/create"><p class="text-lg">Créer un recette</p></nuxt-link>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'IndexPage',
})
</script>
