<template>
  <div class="flex-1 flex flex-col">
    <form @submit.prevent="login">
      <label class="flex flex-col">
        <span class="text-gray-700 text-sm">Email</span>
        <input v-model="email" type="email" class="flex-1" />
      </label>

      <label class="flex flex-col">
        <span class="text-gray-700 text-sm">Password</span>
        <input v-model="password" type="password" class="flex-1" />
      </label>

      <button type="submit" class="mt-3">Login</button>
    </form>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  data() {
    return {
      email: '',
      password: '',
    }
  },
  methods: {
    login() {
      this.$store
        .dispatch('session/login', {
          email: this.email,
          password: this.password,
        })
        .then(() => {
          this.$router.push('/')
        })
      return false
    },
  },
})
</script>
