<template>
  <div class="flex-1 flex flex-col">
    <form @submit.stop="register">
      <label class="flex flex-col">
        <span class="text-gray-700 text-sm">Name</span>
        <input v-model="name" type="text" class="flex-1" />
      </label>

      <label class="flex flex-col">
        <span class="text-gray-700 text-sm">Email</span>
        <input v-model="email" type="email" class="flex-1" />
      </label>

      <label class="flex flex-col">
        <span class="text-gray-700 text-sm">Password</span>
        <input v-model="password" type="password" class="flex-1" />
      </label>

      <button type="submit" class="mt-3">Register</button>
    </form>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  data() {
    return {
      name: '',
      email: '',
      password: '',
    }
  },
  methods: {
    register() {
      this.$store.dispatch('session/register', {
        name: this.name,
        email: this.email,
        password: this.password,
      }).then(() => {
        this.$router.push('/')
      })
    },
  },
})
</script>