<template>
  <div class="flex space-x-4 justify-between bg-gray-200 mb-4">
    <div class="flex space-x-4">
      <nuxt-link to="/" class="hover:bg-gray-400 p-4">Home</nuxt-link>
      <nuxt-link to="/recipes" class="hover:bg-gray-400 p-4">Recettes</nuxt-link>
      <nuxt-link to="/recipes/create" class="hover:bg-gray-400 p-4">Créer une recette</nuxt-link>
    </div>
    <div class="flex space-x-4">
      <nuxt-link to="/login" class="hover:bg-gray-400 p-4">Se connecter</nuxt-link>
      <nuxt-link to="/register" class="hover:bg-gray-400 p-4">Créer un compte</nuxt-link>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  methods: {
    goToRecipes(): void {
      this.$router.back()
    },
  },
})
</script>
