<template>
  <div class="flex flex-1 flex-col space-y-4">
    <h1 class="text-2xl">{{ recipe.name }}</h1>
    <div class="flex flex-col">
      <h2 class="text-lg">Ingredients :</h2>
      <div class="flex flex-col space-y-1">
        <div
          v-for="ingredient in recipe.ingredients"
          :key="ingredient.id"
          class="flex flex-col">
          <p class="text-lg">{{ ingredient.name }}</p>
          <p>{{ ingredient.amount }} {{ ingredient.unit }}</p>
        </div>
      </div>
    </div>
    <p>{{ recipe.description }}</p>
    <img :src="recipe.image" alt="" />
  </div>
</template>
<script lang="ts">
import Vue from 'vue'

import { IIngredient } from '@/models/IIngredient'
import { IRecipe } from '@/models/IRecipe'

export default Vue.extend({
  async asyncData({ store, route }) {
    const recipe = await store.dispatch('data/getRecipe', route.params.id)
    return {
      recipe,
    }
  },
  data() {
    return {
      recipe: {} as IRecipe,
    }
  },
  computed: {
    isRecipeValid(): boolean {
      return (
        !!this.recipe &&
        !!this.recipe.name &&
        this.recipe.ingredients.length > 0
      )
    },
  },
})
</script>
