<template>
  <div class="flex flex-col">
    <form class="flex flex-col space-y-2" @submit.prevent="createRecipe">
      <div class="flex flex-col">
        <label class="flex flex-col">
          <span>Nom de la recette</span>
          <input v-model="name" type="text" class="bg-gray-200" />
        </label>
        <label class="flex flex-col">
          <span>Description : </span>
          <textarea v-model="description" class="bg-gray-200"></textarea>
        </label>
      </div>
      <h2>Ingredients :</h2>
      <div class="flex overflow-x-scroll">
        <div
          v-for="(ingredient, index) in ingredients"
          :key="index"
          class="flex flex-col">
          <div class="flex justify-between">
            <label class="flex flex-col">
              <span>Nom de l'ingrédient</span>
              <input
                v-model="ingredient.name"
                type="text"
                class="bg-gray-200" />
            </label>
            <div class="px-4 flex justify-center cursor-pointer" @click="removeIngredient(index)">
              <span class="text-2xl ">
              x
              </span>
            </div>
          </div>
          <label class="flex flex-col">
            <span>Quantité</span>
            <input
              v-model="ingredient.amount"
              type="text"
              class="bg-gray-200" />
          </label>
          <label class="flex flex-col">
            <span>Unité</span>
            <input v-model="ingredient.unit" type="text" class="bg-gray-200" />
          </label>
        </div>
        <div
          class="flex justify-center items-center bg-blue-200 p-2 ml-4"
          @click="addIngredient()">
          <span class="text-2xl">+</span>
        </div>
      </div>
      <input v-model="urlImage" type="text" class="bg-gray-200" />
      <img
        id="RecipeImage"
        v-if="urlImage != ''"
        :src="urlImage"
        alt="Une Image de cuisine"
        width="200"
        height="100" />
      <button type="submit" class="bg-green-200">Créer la recette</button>
    </form>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  data() {
    return {
      name: '',
      description: '',
      // eslint-disable-next-line no-array-constructor
      ingredients: new Array(),
      urlImage: '',
    }
  },
  methods: {
    addIngredient() {
      this.ingredients.push({
        name: '',
        amount: '',
        unit: '',
      })
    },
    removeIngredient(index: number) {
      this.ingredients.splice(index, 1)
    },
    createRecipe() {
      this.$store
        .dispatch('data/createRecipe', {
          name: this.name,
          description: this.description,
          ingredients: this.ingredients,
          image: this.urlImage,
        })
        .then((recipe) => {
          this.$router.push('/recipes/' + recipe.id)
        })
    },
  },
})
</script>
