<template>
  <div class="flex-1 flex flex-col space-y-4 p-2">
    <h1 class="text-2xl font-semibold">Les recettes :</h1>
    <div class="flex gap-4">
      <div
        v-for="recipe in recipes"
        :key="recipe.id"
        class="flex flex-col bg-gray-100 p-2 rounded-lg items-center shadow"
        @click="$router.push('/recipes/' + recipe.id)">
          <img :src="recipe.image" class="object-cover h-32 w-32 rounded-sm" alt="" />

        <p class="font-4xl">{{ recipe.name }}</p>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  async asyncData({ store }) {
    const recipes = await store.dispatch('data/getRecipes')
    return {
      recipes,
    }
  },
  data() {
    return {
      recipes: [],
    }
  },
})
</script>
